*.o
install-sh
missing
.deps
.dirstamp
Makefile
Makefile.in
stamp-h1
autom4te.cache
config.hpp
config.hpp.in
config.hpp.in~
config.log
config.status
configure
aclocal.m4
depcomp
compile
config.guess
config.sub
/src/shiranui
